<body>
  

<div class="container">
  <div class="row">
    <div *ngFor="let p of post" class="col-md-4 mb-4">
      <div class="h-100">
        <mat-card class="card example-card h-100 postCard">

          <mat-card-header>
            <mat-card-title class="cardTitle">{{p.title}}</mat-card-title>

          </mat-card-header>
         <div class="img-wrapper">
          <img [src]="p.image" alt="{{p.title}}">
         </div>

        <mat-card-content>
            <p class="cardDesc">
              {{p.description}}
            </p>
            <p>
              <strong>Catgories</strong> : {{p.category}}
            </p>

            <strong>{{p.rating.rate}} </strong> | <strong>{{p.rating.count}}</strong>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-raised-button color="primary">Add To Cart</button>
        </mat-card-actions>
      </mat-card>
      </div>
    </div>
  </div>
</div>
</body>